{% include 'reusable/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'styleMybooks.css' %}">
  <meta charset="UTF-8">
  <title>My books</title>
</head>
<body>
  {% include 'reusable/styleCommon.html' with random_number=random_number %}
  <div class="backgroundPicture"></div>
  <h2 style="text-align:center;">Your books</h2>

  {% if books %}

    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Search..." name="search">
    </form>

    {% for book in books %}
    <a href="/home/bookDetails/?isbn={{ book.isbn }}" class="book-card-link">
      <div class="book-card">
        <h4>{{ book.title }}</h4>
        <div class="date">Saved on {{ book.scanned_at|date:"M d, Y H:i" }}</div>
      </div>
    </a>
    {% endfor %}
  {% else %}
    <p style="text-align:center;">You haven't added any books yet.</p>
  {% endif %}

</body>
</html>
