{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'styleProfile.css' %}">
  <meta charset="UTF-8" />
  <title>My Profile</title>
</head>
<body>

  {% include 'reusable/navbar.html' %}
  {% include 'reusable/styleCommon.html' with random_number=random_number %}
  <div class="backgroundPicture"></div>

  <div class="container">
    <div class="profile-header">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_profile_picture">
          {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
            <img src="{% static 'defaultpfp.jpg' %}" alt="Default Picture">
          {% endif %}
        </label>
        <input type="file" name="profile_picture" id="id_profile_picture" accept="image/*" style="display: none;" onchange="this.form.submit();">
      </form>

      <div class="username">{{ user.username }} - {{ user.userprofile.user_type }}</div>
    </div>

    <div class="sections">
      {% if user.userprofile.user_type == "User" %}
        <a href="{% url 'saved_books' %}" class="section-link">Saved Books</a>
        <a href="{% url 'my_ratings' %}" class="section-link">My Ratings</a>
      {% elif user.userprofile.user_type == "Librarie" %}
        <a href="{% url 'manage_books' %}" class="section-link">Manage Books</a>
      {% endif %}
    </div>

    <form method="post" action="{% url 'logout' %}" class="logout-form">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </div>

</body>
</html>
