@media only screen and (max-width: 1000px){
    body{
        font-size: 4.4vw;
    }
    .rating-card {
        width: 75vw;
    }

    #searchForm{
        width: 65vw;
    }

    #searchInput{
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 1001px){
    body{
        font-size: 1.1vw;
    }

    .rating-card {
        width: 50vw;
    }

    #searchForm{
        width: 45vw;
    }

    #searchInput{
        font-size: 1.4rem;
    }
}


body {
      background-color: #f8f9fa;
    }

    #searchForm{
      background-color: rgba(244, 244, 244, 0.9);
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
      margin: 1rem auto;
    }

    #searchInput{
      background-color: rgba(244, 244, 244, 0);
      border: none;
      margin: 1rem auto;
      text-align: center;
      width: 100%;
    }

    input:focus{
      outline: none;
    }

    .rating-card {
      background-color: rgba(244, 244, 244, 0.9);
      border-radius: 10px;
      padding: 1rem;
      margin: 1rem auto;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    .rating-card h4 {
      margin: 0 0 0.5rem 0;
    }

    .stars {
      font-size: 1.6rem;
      color: #c6b743;
    }

    .date {
      font-size: 1.5rem;
      color: #665;
    }

    .rating-card-link {
      text-decoration: none;
      color: inherit;
      display: block;
    }

    .rating-card-link:visited,
    .rating-card-link:active,
    .rating-card-link:hover {
      text-decoration: none;
      color: inherit;
    }