@media only screen and (max-width: 1000px){
    body{
        font-size: 4vw;
    }
    .book-card {
        width: 75vw;
    }

    #searchForm{
        width: 65vw;
    }

    #searchInput{
        font-size: 2rem;
    }
}
@media only screen and (min-width: 1001px){
    body{
        font-size: 1.1vw;
    }

    .book-card {
        width: 50vw;
    }

    #searchForm{
        width: 45vw;
    }

    #searchInput{
        font-size: 1.4rem;
    }
}

body {
      background-color: #f8f9fa;
}

#searchForm{
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin: 1rem auto;
}

#searchInput{
  border: none;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
  background-color: rgba(244, 244, 244, 0);
}

#searchInput:focus{
  outline: none;
}

.book-card {
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.book-card h4 {
  margin: 0 0 0.5rem 0;
}

.stars {
  font-size: 1.6rem;
  color: gold;
}

.date {
  font-size: 1.4rem;
  color: #665;
}

.book-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.book-card-link:visited,
.book-card-link:active,
.book-card-link:hover {
  text-decoration: none;
  color: inherit;
}