{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styleHome.css' %}">
  <title>LibraryPlus - Home</title>
</head>
<body>

  {% include 'reusable/navbar.html' %}
  {% include 'reusable/styleCommon.html' with random_number=random_number %}
  <div class="backgroundPicture"></div>
  <div class="container">
    <h3>Welcome to LibraryPlus</h3>

    <form method="post" enctype="multipart/form-data" id="imageForm">
      {% csrf_token %}
      <label id="file_label">
        <img id="poza_cod" src="{% static 'poza_cod_nou.png' %}" alt="Upload" />
        {{ form.image }}
      </label>
      <button type="submit">Upload</button>
    </form>

<!--    <div class="button-group">-->
      <form method="post" action="{% url 'saved_books' %}" id="libraryForm">
        {% csrf_token %}
        <button type="submit" id="libraryButton">Library</button>
        <input type="text" value="" name="search" hidden>
      </form>

      {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}" style="margin: 0" id="logoutForm">
        {% csrf_token %}
        <button id="logout_btn" type="submit">Logout</button>
      </form>
      {% endif %}
<!--    </div>-->
  </div>

</body>
</html>
