{% load static %}
<div id="topnav">
  <div class="nav-left">
    <div class="home-link" onclick="location.href='/home/'">LibraryPlus</div>
  </div>
  <div class="nav-right">

    {% if user.is_authenticated %}
      <div class="menu_btn" onclick="location.href='/profile/'">{{ user }}</div>
    {% else %}
      <div class="menu_btn" onclick="location.href='/auth/login/'">Login</div>
    {% endif %}

    {% if user.userprofile.display_mode == 'dark' %}
      <form method="post" action="/updateMode/" class="switchForm" style="margin:0;">
        {% csrf_token %}
        <input type="image" src="{% static 'lightMode.png' %}" value="" class="modeSwitch">
        <input type="text" hidden value="ligh" name="mode">
      </form>
    {% else %}
      <form method="post" action="/updateMode/" class="switchForm" style="margin:0">
        {% csrf_token %}
        <input type="image" src="{% static 'darkMode.png' %}" value="" class="modeSwitch">
        <input type="text" hidden value="dark" name="mode">
      </form>
    {% endif %}

  </div>
</div>

<style>

  #switchForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: auto;
  }

  #topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 75vw;
    max-width: 75vw;
    margin: 20px auto;
    border: 1px solid #00000000;
    border-radius: 12px;
    background-color: rgba(244, 244, 244, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  .nav-left .home-link {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }

  .nav-right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .menu_btn {
    padding: 8px 12px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;
  }

  .menu_btn:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #3948bc;
  }

    @media only screen and (max-width: 1000px){
        .modeSwitch{
            width: 3vh;
        }
    }
    @media only screen and (min-width: 1001px){
      .modeSwitch{
        width: 2vw;
      }
    }
</style>

