<style>
body{
    background-color: #e9e9e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


{% if user.userprofile.display_mode == 'dark' %}
html{
    filter: invert(1);
}
{% else %}
html{
    filter: invert(0);
}
{% endif %}



.backgroundPicture{
    position: absolute;
    top: 0;
    z-index: -100;
    background-color: #e9e9e9;
    background-image: url('/static/background{{ random_number }}.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 99vw;
    height: 99vh;
    filter: blur(0.5px);
}

.container{
    background-color: rgba(244, 244, 244, 0.6);
    width: 75vw;
    height: fit-content;
    padding: 3vw 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    gap: 2rem;
}


    /*@media only screen and (max-width: 1000px){
        .container{
            height: 68vh;
        }
    }
    @media only screen and (min-width: 1001px){
        .container{
            height: 75vh;
        }
    }*/

</style>
